<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="assembly_xacro">
    <xacro:arg name="x" default="0"/>
    <xacro:arg name="y" default="0"/>
    <xacro:arg name="z" default="0"/>
    
    <link name="assembly">
        <inertial>
            <origin xyz="$(arg x) $(arg y) $(arg z)" />
            <mass value="3.2" /> 
            <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
        </inertial>
        <visual>
            <origin xyz="$(arg x) $(arg y) $(arg z)"/>
            <geometry>
                <mesh filename="file:///$(find leica_scanstation)/meshes/assembly.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="$(arg x) $(arg y) $(arg z)"/>
            <geometry>
                <mesh filename="file:///$(find leica_scanstation)/meshes/assembly.dae"/>
            </geometry>
        </collision>
    </link>
    <gazebo>
        <static>1</static>
    </gazebo>

</robot>
