<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="camera_xacro">
   <xacro:arg name="x" default="0"/>
   <xacro:arg name="y" default="0"/>
   <xacro:arg name="z" default="0"/>
  
    <link name="camera_link">
        <inertial>
            <origin xyz="$(arg x) $(arg y) $(arg z)" />
            <mass value="3.2" /> 
            <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
        </inertial>
        <visual>
            <origin xyz="$(arg x) $(arg y) $(arg z)"/>
            <geometry>
                <mesh filename="file:///$(find leica_scanstation)/meshes/asus_xtion.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="$(arg x) $(arg y) $(arg z)"/>
            <geometry>
                <mesh filename="file:///$(find gazebo_simulation)/meshes/asus_xtion.dae"/>
            </geometry>
        </collision>
    </link>

    <!--Joints-->
    <joint name="fixed_base_joint" type="fixed">
        <parent link="world"/>
        <child link="camera_link"/>
        <origin xyz="1.51542 -0.381635 1.39271" rpy="0 0.211392 3.1405"/>
    </joint>

    <gazebo reference="camera_link">
        <sensor>
            <plugin name='camera_plugin' filename='libgazebo_ros_openni_kinect.so'>
                <baseline>0.2</baseline>
                <alwaysOn>1</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>camera_ir</cameraName>
                <imageTopicName>/camera/color/image_raw</imageTopicName>
                <cameraInfoTopicName>/camera/color/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
                <depthImageCameraInfoTopicName>/camera/depth/camera_info</depthImageCameraInfoTopicName>
                <pointCloudTopicName>/camera/depth/points</pointCloudTopicName>
                <frameName>camera_link</frameName>
                <pointCloudCutoff>0.5</pointCloudCutoff>
                <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
                <distortionK1>0</distortionK1>
                <distortionK2>0</distortionK2>
                <distortionK3>0</distortionK3>
                <distortionT1>0</distortionT1>
                <distortionT2>0</distortionT2>
                <CxPrime>0</CxPrime>
                <Cx>0</Cx>
                <Cy>0</Cy>
                <focalLength>0</focalLength>
                <hackBaseline>0</hackBaseline>
            </plugin>
        </sensor>
    </gazebo>

</robot>
