<launch>

    <arg name="small_leaf_size" default="0.03"/>
    <arg name="big_leaf_size"   default="0.05"/>
    <arg name="threshold"       default="0.9"/>
    <arg name="run_normals"     default="true"/>
    <arg name="run_keypoints"   default="true"/>
    <arg name="run_transform"   default="true"/>
    <arg name="run_icp"         default="false"/>
    <arg name="visualize"       default="true"/>
    <arg name="iterations"      default="100000"/>
    

    <node name="PointCloudAlignment" pkg="leica_scanstation" type="3dscan_to_cad_align" output="screen">
        <param name="small_leaf_size"   value="$(arg small_leaf_size)"/>
        <param name="big_leaf_size"     value="$(arg big_leaf_size)"/>
        <param name="threshold"         value="$(arg threshold)"/>
        <param name="run_normals"       value="$(arg run_normals)"/>
        <param name="run_keypoints"     value="$(arg run_keypoints)"/>
        <param name="run_transform"     value="$(arg run_transform)"/>
        <param name="run_icp"           value="$(arg run_icp)"/>
        <param name="visualize"         value="$(arg visualize)"/>
        <param name="iter"              value="$(arg iterations)"/>
    </node>

</launch>