<?xml version="1.0"?>
<launch>

  <arg name="spawn_stringer" default="false" doc="whether or not spawn stringer"/>
  <arg name="spawn_assembly" default="false" doc="whether or not spawn assembly"/>
  <arg name="spawn_assembly_big" default="false" doc="whether or not spawn assembly"/>
  <arg name="publish_tf" default="true" doc="whether or not publish tf data for c5"/>
  <arg name="z_c5"       default="0.125" />

  <!-- Start Gazebo -->
  <env name="GAZEBO_RESOURCE_PATH" value="$(find leica_scanstation)/meshes" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"     value="true"/>
  </include>

  <!-- spawn c5 in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_scanstation)/urdf/c5.urdf.xacro" name="c5_param"/>
  <node args="-urdf -param c5_param -model c5 -x 0 -z $(arg z_c5) -Y 0"
        name="spawn_c5" pkg="gazebo_ros" type="spawn_model" output="screen"/>

  <!-- Tf c5_link to world -->
  <node if="$(arg publish_tf)"
        name="tf_broadcaster" pkg="leica_scanstation" type="publish_tf.py" output="screen"/>

  <!-- spawn stringer system in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_scanstation)/urdf/stringer.xacro" name="stringer_param"/>
  <node if="$(arg spawn_stringer)"
        args="-urdf -param stringer_param -model stringer -x 2.2 -y -4 -z 0.2 -Y -1.57"
        name="spawn_urdf"   pkg="gazebo_ros" type="spawn_model" output="screen"/>

  <!-- spawn assembly system in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_scanstation)/urdf/assembly.xacro" name="assembly_param"/>
  <node if="$(arg spawn_assembly)"
        args="-urdf -param assembly_param -model assembly -x 1 -y 4 -z 2 -Y -1.57"
        name="spawn_urdf"   pkg="gazebo_ros" type="spawn_model" output="screen"/>

  <!-- spawn assembly big system in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_scanstation)/urdf/assembly_big.xacro" name="assembly_big_param"/>
  <node if="$(arg spawn_assembly_big)"
        args="-urdf -param assembly_big_param -model assembly -y -2 -z 2 -R -1.57 -Y -1.57"
        name="spawn_urdf"   pkg="gazebo_ros" type="spawn_model" output="screen"/>

</launch>