<?xml version="1.0"?>
<launch>

  <arg name="publish_tf" default="true" doc="whether or not publish tf data for c5"/>
  <arg name="z_c5"       default="0.125" />

  <!-- Start Gazebo -->
  <env name="GAZEBO_RESOURCE_PATH" value="$(find leica_scanstation)/meshes" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"     value="true"/>
  </include>

  <!-- spawn c5 in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_scanstation)/urdf/c5.urdf.xacro" name="c5_param"/>
  <node args="-urdf -param c5_param -model c5 -x 0 -z $(arg z_c5) -R 1.57"
        name="spawn_c5" pkg="gazebo_ros" type="spawn_model" output="screen"/>

  <!-- Tf c5_link to world -->
  <node if="$(arg publish_tf)"
        name="tf_broadcaster" pkg="leica_scanstation" type="publish_tf.py" output="screen"/>
</launch>