<?xml version="1.0"?>
<launch>

  <arg name="spawn_stringer" default="false" doc="whether or not spawn stringer"/>
  <arg name="spawn_assembly" default="false" doc="whether or not spawn assembly"/>
  <arg name="spawn_assembly_big" default="true" doc="whether or not spawn assembly"/>
  <arg name="spawn_camera"   default="false" doc="whether or not spawn assembly"/>
  <arg name="z_camera"       default="2" />

  <!-- Start Gazebo -->
  <!-- <env name="GAZEBO_RESOURCE_PATH" value="$(find leica_point_cloud_processing)/meshes" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"     value="true"/>
  </include> -->

  <!-- spawn camera in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_point_cloud_processing)/urdf/camera.urdf.xacro" name="camera_param"/>
  <node if="$(arg spawn_camera)"
        args="-urdf -param camera_param -model camera -x 1.5 -z $(arg z_camera) -Y 3.1415"
        name="spawn_camera" pkg="gazebo_ros" type="spawn_model" output="screen"/>

  <!-- Tf camera_link to world -->
  <node if="$(arg spawn_camera)"
        args="1.5 0 $(arg z_camera) 0 0 1 0 world camera_link 100" 
        name="camera_tf" pkg="tf" type="static_transform_publisher" /> <!---0.5 -0.5 0.5 0.5 P:-pi/2 + Y:pi/2 -->

  <!-- spawn stringer system in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_point_cloud_processing)/urdf/stringer.xacro" name="stringer_param"/>
  <node if="$(arg spawn_stringer)"
        args="-urdf -param stringer_param -model stringer -x 2.2 -y -4 -z 0.2 -Y -1.57"
        name="spawn_urdf"   pkg="gazebo_ros" type="spawn_model" output="screen"/>

  <!-- spawn assembly system in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_point_cloud_processing)/urdf/assembly.xacro" name="assembly_param"/>
  <node if="$(arg spawn_assembly)"
        args="-urdf -param assembly_param -model assembly -x 4 -y 4 -z 2 -Y -1.57"
        name="spawn_urdf"   pkg="gazebo_ros" type="spawn_model" output="screen"/>

  <!-- spawn assembly big system in gazebo -->
  <param command="$(find xacro)/xacro -i $(find leica_point_cloud_processing)/urdf/assembly_big.xacro" name="assembly_big_param"/>
  <node if="$(arg spawn_assembly_big)"
        args="-urdf -param assembly_big_param -model assembly -y -13 -z 2 -R -1.57 -Y -1.57"
        name="spawn_urdf"   pkg="gazebo_ros" type="spawn_model" output="screen"/>

</launch>